html {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    margin: 0;

}

.fun-facts {

    width: 40%;
    flex-shrink: 0;


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
    gap: 100px;
    padding: 50px;



}

#top-level {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 900px;
    max-width: 300px;


    background-color: #fff;

    border: 2px solid #ccc;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);

    border-radius: 10px;
    padding: 20px;
}


.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    gap: 10px;
}

.buttons button,
.operator-buttons button {
    flex-shrink: 1;
    padding: 20px 25px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6ab04c;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

.buttons button:hover,
.operator-buttons button:hover {
    background-color: #5a9940;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.operator-buttons button {
    background-color: #f7941d;
}

#display {
    min-width: 220px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 28px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}